.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*vertical-align: middle;*/
  /*margin: auto;*/
  background-color: grey;
  height: 100vh;
}

.start-screen {
  text-align: center;
  width: 300px;
}

.start-screen_selection,
.start-screen_selection_legend {
  display: flex;
  justify-content: space-around;
}

.start-screen_selection > span {
  width: 150px;
  /*line-height: 50px;*/
  font-size: 6em;
}

/*.start-screen_selection_x,
.start-screen_selection_y {
  width: 80px; height: 80px;
}*/

.start-screen_selection_legend > span {
  width: 150px;
}
