.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*vertical-align: middle;*/
  /*margin: auto;*/
  background-color: grey;
  height: 100vh;
}

.start-screen {
  text-align: center;
  width: 300px;
}

.start-screen_x-y {
  display: flex;
  justify-content: space-around;
}

.start-screen_x-y > span {
  width: 150px;
  line-height: 50px;
  font-size: 3em;
}

.start-screen_x-y_legend {
  display: flex;
  justify-content: space-around;
}
