.game-over-link {
  display: inline-block;
  position: relative;
  width: 130px;
  margin: 0 15px;
  font-size: 1.2em;
  color: #000;
  text-decoration: none;
}

.game-over-link span {
  position: absolute;
  bottom: -12px;
  left: 25px;
  height: 2px;
  width: 80px;
  background-color: #000;
  transition: transform 0.2s;
}

.game-over-link:hover span {
  /*width: 100%;*/
  transform: scaleX(1.6);
}
