.game {
  display: flex;
}

.game-score-title {
  margin-top: 25px;
  margin-bottom: 10px;
}

.game-score-player {
  text-align: right;
}

.game-board {
  margin: 0 30px;
  /*background-color: lightgrey;*/
}
