@import url('https://fonts.googleapis.com/css?family=Catamaran|Droid+Sans|Muli|Nunito|Open+Sans|Oxygen|Quicksand|Raleway');

body {
  font-family: 'Quicksand', sans-serif;
  /*font-family: 'Open Sans', sans-serif;*/
}

html,
body {
  margin: 0;
  padding: 0;
}

.outer-shell {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
