.start-screen {
  text-align: center;
  width: 300px;
}

.start-screen h1 {
  margin-top: 0;
}

.start-screen_selection_legend {
  display: flex;
  justify-content: space-around;
}

.start-screen_selection_x,
.start-screen_selection_y {
  cursor: pointer;
}

.start-screen_selection_legend > span {
  width: 150px;
}
